.p1 {
    font-family: monospace;
    text-align: center;
    background-color: rgb(26, 172, 153);
    width: 900px;
    height: 600px;
    margin: auto;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(101, 79, 71);
    font-size: medium;
    text-align: center;

}