.p1{
    width: 900px;
    height: 2500px;
    background-color: rgb(207, 135, 41);
    margin-left: auto;
    margin-right: auto;
}
h3{
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}