.p1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
    background-color: rgb(150, 172, 26);
    width: 900px;
    height: 600px;
    margin: auto;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: coral;
    font-size: medium;
    text-align: center;
}