.p1{
    width: 900px;
    height: 2500px;
    background-color: rgb(34, 160, 89);
    margin-left: auto;
    margin-right: auto;
}
h3{
    color: rgb(25, 25, 97);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}